<mat-toolbar color="primary" class="dart-toolbar">
  <img src="assets/icons/icon-30x30.png" alt="app logo dart">
  <span class="title">Game: {{currentGame?.name}}</span>
  <span class="toolbar-spacer"></span>
  <!-- https://fonts.google.com/icons?selected=Material+Icons -->

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
    [routerLink]="['/start']" [queryParams]="{debug: true}">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
</mat-toolbar>
<main>
  <section class="player-cards" *ngIf="players.length">
    <ng-container *ngFor="let player of players; let i = index">
      <ng-container *ngIf="isActivePLayerOrNext(i)">
        <mat-card [ngClass]="{'active': ($activePlayer | async) === i}">
          <div class="name">{{player.name}}</div>
          <div class="count">{{player.count}}</div>
        </mat-card>
      </ng-container>
    </ng-container>
  </section>
  <section class="key-pad">
    <button *ngFor="let key of keyPad.numbers" mat-raised-button color="accent" class="btn-primary" aria-label=""
      (click)="key.action()">
      <ng-container *ngIf="key.title === 'back'; else numberkey"><span class="material-icons">backspace</span>
      </ng-container>
      <ng-template #numberkey>{{key.title}}</ng-template>

    </button>
  </section>
  <section class="point-count">
    {{keyPadCountStr}}
  </section>
</main>
<footer>
  <button *ngFor="let key of keyPad.actions" mat-raised-button color="primary" class="btn-primary" aria-label=""
    (click)="key.action()">
    {{key.title}}
  </button>
</footer>
