<mat-toolbar color="primary" class="dart-toolbar">
  <img src="assets/icons/icon-30x30.png" alt="app logo dart">
  <span class="title">{{title}}</span>

  <ng-container *ngIf="isAddToHomeScreenEnabled$ | async">

    <span class="toolbar-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Add app to home screen" title="Add app to home screen"
      (click)="showPrompt()">
      <mat-icon>add_to_home_screen
      </mat-icon>
    </button>
  </ng-container>

</mat-toolbar>
<main>
  <section class="players">
    <ng-container *ngFor="let player of players">
      <button class="item btn-primary" mat-raised-button color="accent"
        (click)="openMenu(player)">{{player.name}}</button>
    </ng-container>
  </section>
  <section class="add-player">
    <button mat-fab color="primary" class="btn-primary" aria-label="Add new Player" (click)="addPlayer()">
      <!-- https://fonts.google.com/icons?selected=Material+Icons -->
      <mat-icon>add</mat-icon>
    </button>
  </section>



  <mat-form-field class="game-select" appearance="fill">
    <mat-label>Select Game</mat-label>
    <mat-select [value]="currentGame.name" (valueChange)="setGame($event)">
      <mat-option *ngFor="let game of games" [value]="game.name">
        {{game.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


</main>
<footer>
  <button mat-raised-button color="accent" class="btn-primary" (click)="startGame()" [routerLink]="['/game']"
    [queryParams]="{debug: true}">Start Game</button>
</footer>
