/* You can add global styles to this file, and also import other style files */
@import 'colors.scss';

html,
body {
  height: 100%;
}

body {

  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
  --header-height: 56px;
  --footer-height: 56px;
}

main {
  width: 100%;
  height: calc(100% - var(--header-height) - var(--header-height));


  // https://css-tricks.com/snippets/css/a-guide-to-flexbox/
  .players,
  .add-player {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem;

    .item {
      margin: 0.5rem;
      flex-grow: 4;
      /* default 0 */
    }
  }


  .game-select {
    width: 100%;
  }
}

footer {
  width: 100%;
  height: var(--footer-height);

  button {
    height: 100% !important;
    line-height: 3rem !important;
    font-size: large !important;
  }
}


// ----------------------

.mat-toolbar.dart-toolbar {
  .title {
    padding-left: 0.5rem;
  }

  background: $color5;
}


button.mat-raised-button {
  &.btn-primary {
    background-color: $color3;
  }

  &.btn-player {
    background-color: $color4;
  }
}

button.mat-focus-indicator.mat-fab {
  &.btn-primary {
    background-color: $color3;
  }
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: $color1;

  .mat-option-text {
    font-weight: 550;
  }

}

.toolbar-spacer {
  flex: 1 1 auto;
}
